<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <%- include('../views/cdn-file.ejs') %>

</head>

<body>
    <%- include('../views/header.ejs') %>

        <div id="main-container" style="border: 1px solid black;margin: 50px 550px">
            <h1 style="text-align: center;margin-top: 10%;">Change Password</h1>
            <form action="/api/admin/update-admin" class="border-1" method="post"
                style="max-width: 400px;margin: auto;padding: 20px;">
                <div class="row g-3 align-items-center">
                    <div class="col-12">
                        <label for="password">Old Password</label>
                        <input type="password" id="oldPass" class="form-control" aria-describedby="passwordHelpInline"
                            name="oldpassword">
                    </div>
                    <div class="col-12">
                        <label for="password">New Password</label>
                        <input type="password" id="password" class="form-control" name="newpassword"
                            aria-describedby="passwordHelpInline">
                    </div>
                    <div class="col-12">
                        <button type="submit" style="margin-left: 30%;padding: 8px 43px;margin-top: 20px;"
                            class="btn btn-primary"><i class="fa-solid fa-key"
                                style="margin-right: 6px;"></i>reset</button>
                    </div>
                </div>
            </form>
        </div>

        <footer>
        </footer>
</body>

</html>